<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit" />
<!-- 让360浏览器默认选择webkit内核 -->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description"
	content="iDea a Bootstrap-based, Responsive HTML5 Template">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="htmlcoder.me">

<title>购物</title>
<link rel="shortcut icon" href="/static/shop/images/favicon.ico">
<link href="/static/shop/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/static/shop/fonts/font-awesome/css/font-awesome.css"
	rel="stylesheet">
<link href="/static/shop/fonts/fontello/css/fontello.css"
	rel="stylesheet">
<link href="/static/shop/plugins/rs-plugin/css/settings.css"
	media="screen" rel="stylesheet">
<link href="/static/shop/plugins/rs-plugin/css/extralayers.css"
	media="screen" rel="stylesheet">
<link href="/static/shop/plugins/magnific-popup/magnific-popup.css"
	rel="stylesheet">
<link href="/static/shop/css/animations.css" rel="stylesheet">
<link href="/static/shop/plugins/owl-carousel/owl.carousel.css"
	rel="stylesheet">
<link href="/static/shop/css/style.css" rel="stylesheet">
<link href="/static/shop/css/skins/red.css" rel="stylesheet">
<link href="/static/shop/css/custom.css" rel="stylesheet">

<script type="text/javascript" src="/static/shop/plugins/jquery.min.js"></script>
<script type="text/javascript"
	src="/static/shop/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/shop/plugins/modernizr.js"></script>
<script type="text/javascript"
	src="/static/shop/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript"
	src="/static/shop/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript"
	src="/static/shop/plugins/isotope/isotope.pkgd.min.js"></script>
<script type="text/javascript"
	src="/static/shop/plugins/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript"
	src="/static/shop/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script type="text/javascript"
	src="/static/shop/plugins/jquery.appear.js"></script>
<script type="text/javascript"
	src="/static/shop/plugins/jquery.countTo.js"></script>
<script type="text/javascript"
	src="/static/shop/plugins/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript"
	src="/static/shop/plugins/jquery.validate.js"></script>
<script type="text/javascript" src="/static/shop/js/template.js"></script>
<script type="text/javascript" src="/static/shop/js/custom.js"></script>
<script src="${ctxPath}/static/js/common/Feng.js"></script>

<script type="text/javascript">
	Feng.addCtx("${ctxPath}");
	Feng.sessionTimeoutRegistry();
</script>
</head>

<body class="front">
	<div class="scrollToTop">
		<i class="icon-up-open-big"></i>
	</div>
	${layoutContent}
</body>


<footer id="footer" class="light object-non-visible"
	data-animation-effect="fadeIn" data-effect-delay="300">
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="footer-content object-non-visible"
						data-animation-effect="fadeInLeftSmall" data-effect-delay="300">
						<div class="logo-footer">
							<img id="logo-footer" src="/static/images/logo_red_footer.png"
								alt="">
						</div>
						<p>Veritatis officiis ullam libero quam aliquam, tenetur dolor
							incidunt praesentium dolorum laborum tempora suscipit quo
							sapiente?</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							possimus laborum. Accusantium, itaque.</p>
						<div class="row">
							<div class="col-md-6">
								<ul class="list-icons">
									<li><i class="fa fa-map-marker pr-10"></i> One infinity
										loop, 54100</li>
									<li><i class="fa fa-phone pr-10"></i> +00 1234567890</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="social-links colored">
									<li class="facebook"><a target="_blank"
										href="http://www.cssmoban.com"><i class="fa fa-facebook"></i></a></li>
									<li class="twitter"><a target="_blank"
										href="http://www.cssmoban.com"><i class="fa fa-twitter"></i></a></li>
									<li class="googleplus"><a target="_blank"
										href="http://www.cssmoban.com"><i
											class="fa fa-google-plus"></i></a></li>
									<li class="skype"><a target="_blank"
										href="http://www.cssmoban.com"><i class="fa fa-skype"></i></a></li>
									<li class="linkedin"><a target="_blank"
										href="http://www.cssmoban.com"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="footer-content object-non-visible"
						data-animation-effect="fadeInRightSmall" data-effect-delay="300">
						<h2>Contact Us</h2>
						<div class="alert alert-success hidden" id="contactSuccess2">
							<strong>Success!</strong> Your message has been sent to us.
						</div>
						<div class="alert alert-error hidden" id="contactError2">
							<strong>Error!</strong> There was an error sending your message.
						</div>
						<form role="form" id="footer-form">
							<div class="form-group has-feedback">
								<label class="sr-only" for="name2">Name</label> <input
									type="text" class="form-control" id="name2" placeholder="Name"
									name="name2"> <i
									class="fa fa-user form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label class="sr-only" for="email2">Email address</label> <input
									type="email" class="form-control" id="email2"
									placeholder="Enter email" name="email2"> <i
									class="fa fa-envelope form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label class="sr-only" for="message2">Message</label>
								<textarea class="form-control" rows="4" id="message2"
									placeholder="Message" name="message2"></textarea>
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
							<input type="submit" value="Send" class="btn btn-default">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subfooter">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<p>$!{siteCopyright}</p>
				</div>
				<div class="col-md-16">
					<nav class="navbar navbar-default" role="navigation">
						<!-- Toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target="#navbar-collapse-2">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="navbar-collapse-2">
							<ul class="nav navbar-nav">
								<li><a href="index.html">隐私政策</a></li>
								<li><a href="page-about.html">使用条款</a></li>
								<li><a href="blog-right-sidebar.html">销售政策</a></li>
								<li><a href="portfolio-3col.html">法律信息</a></li>
								<li><a href="page-contact.html">网站地图</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>

</html>
